# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.log
logs/


.env
.env.local
.env.development
.env.test
.env.production

# Runtime files
pids
*.pid
*.seed
*.pid.lock
lib-cov/

# Coverage reports
coverage/
.nyc_output/

# Build artifacts
dist/
build/
.tmp/

# Debugging and profiling
.vscode/
.idea/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln

# OS-specific files
.DS_Store
Thumbs.db

# Dependency and package management
package-lock.json
yarn.lock
pnpm-lock.yaml

# Docker
docker-compose.override.yml
.dockerignore

# TypeScript
*.tsbuildinfo

# Git patches
*.patch
